.todoItem {
  list-style-type: none;
  text-align: center;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  margin: 10px 0;
  width: 100%;
  box-shadow: -11px 7px 41px -17px rgba(0, 0, 0, 0.75);
}
